*{
    margin: 0;
    padding: 0;
}


header{
    height: 90px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(158, 155, 155);
   
position: fixed;
top: 0;
opacity: 0.7;
}
.left{
    margin-left:20px ;
}
.right{
    margin-right:30px ;
}
a ,i{
    padding: 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    opacity: 1;
}
a:hover,i:hover{
color: white;
background-color: lightgray;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    height: 100%;
 

}
.dv1{
   
    height:500px;
    width: 1000px;
 

align-items: center;
    text-align: center;
}
h1,p{
   margin-top: 20px;
   line-height: 1.5rem;
   text-align: center;
}
.i1{
    margin-top: 30px;
    height: 350px;
    width: 500px;
}
.i2,.i3,.i4,.i5,.i6,.i7{
    height:80px;
    width: 90px;
}
.im{
    margin-top: 20px;
 
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
}
.i3{
    position: absolute;
    z-index: 3;
    top: 10%;
    right:40%;
}
.i6{
    position: absolute;
    z-index: -3;
    top: 20%;
    right:  25%;
}

.i1{
    position: absolute;
    z-index: -1;
}
.i2{
    position: absolute;
    z-index: 0;
    top: 10%;
    left: 30%;
}
.i4{
    position: absolute;
    z-index: 1;
    top: 60%;
   left: 30%;
}
.i5{
    position: absolute;
    z-index: 2;
    top: 60%;
   left: 60%;
}

.dv2{
    position: relative;
  
    margin-top: 10%;
    width: 100%;
   padding: 10px; 
    height: 200px;
   
    background-image: url(bg.jpg);
  
background-size: cover;
    background-position: center;
    background-attachment: fixed;
   background-repeat: no-repeat;
}
.cart{
    position: absolute;
background-color: white;
padding: 10px;
 top: 70%;
 width: 100%;

   
    height: 800px;
}
h2{
    text-align: center;
    margin-top: 10px;
}
.img-dv img{
    height: 200px;
    width: 200px;
}
.carts{
  
   height: 800px;
  
    width: 100%;
 margin-top: 20px;
 display: flex;
justify-content: center;
gap: 10px;
 flex-wrap: wrap;
 
  
}
.ct{
    margin-top: 20px;
   
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 270px;
   
}

.img-dv{
    position: relative;
  
    height: 250px;
    width: 270px;
    display: flex;
    justify-content: center;
}
.img-dv:hover .cart-img1{
   opacity: 0;
}
.img-dv:hover .cart-img2{
    opacity: 1;
    }
.cart-img1{
    position: absolute;
    z-index: 1;
}
.cart-img2{
    position: absolute;
    z-index: 0;
    opacity: 0;
}
.img-dv:hover span{
    color: rgb(190, 183, 183);
}
.img-dv span{
    margin-top: 75%;
    font-size: 20px;
    text-align: center;
}
.line{
    margin-top: -43px;
    
}

.price{
  
    height: 80px;
    width: 270px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
 
}
.price h3{
    font-weight: 400;
    margin-left: 20px;
}
button{
    height: 50px;
    width: 100px;
    background-color: white;
border-radius: 15px;
margin-right: 20px;
}
button:hover{
    background-color: black; 
    color: white;
}


.dv4{
    background-color: white;
    height: 900px;
    width: 100%;
  
}
footer{
    display: flex;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    padding: 10px;
height: 80px;
width: 100%;
}
footer h2 ,.ic i{
  
    margin-top: 20px;
    color: white;
}
.lastic{
    margin-top: 10px;
    position: fixed;
    top: 67%;
    left: 93%
}
